[user]
	name = Jake Buob
	email = jake@digitalonboarding.com
[core]
	editor = vim
	excludesfile = /Users/jakebuob/.gitignore_global
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = true
[color]
	ui = true
[push]
	default = current
[alias]
	tree = log --graph --all --decorate --pretty=format:'%C(bold cyan)%h%Creset -%C(bold yellow)%d%Creset %s %C(bold green)(%cr) %C(bold red)<%an>%Creset' --abbrev-commit --date=relative
	amend = commit -a --amend -C head
[rebase]
	autosquash = true
	autostash = true
	
