[user]
	name = Jake Buob
	email = jake@mojotech.com
[core]
	editor = vim
	excludesfile = /Users/jakebuob/.gitignore_global
[merge]
	tool = vimdiff
[mergetool]
	keepBackup = true
[color]
	ui = true
[push]
	default = current
[alias]
	tree = log --graph --all --decorate --pretty=oneline --abbrev-commit
[rebase]
  autosquash = true
  autostash = true
